/* Button
https://uiverse.io/PriyanshuGupta28/brave-mole-100 */

.uiComponent .pushable {
    
    --ui-component-button-color: rgb(178, 214, 243);
    --ui-component-font-color: #24184b;
    
    --ui-component-button-color-dark: lch(from var(--ui-component-button-color) calc(l - 15) c h);

    display: flex;
    position: relative;
    background: transparent;
    margin: 4px 4px 2px;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 0px;
    outline-width: 2px;
    border-radius: 8px;
    transition: filter var(--ui-component-button-anim-time-med);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.uiComponent .pushable .hoverArea {
    inset: -6.9px -3px -2px;
    border-radius: 8px;
    /* background: magenta; */
    background: none;
    position: absolute;
    z-index: -1;
}

.uiComponent .pushable .shadow {
    position: absolute;
    inset: 0px 2px;
    top: 2px;
    bottom: 1px;
    background: rgba(15, 2, 32, 0.2);
    border-radius: 6px;
    filter: blur(3px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform var(--ui-component-button-anim-time-slow) cubic-bezier(0.3, 0.7, 0.4, 1);
}

.uiComponent .pushable .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(to right,
            lch(from var(--ui-component-button-color-dark) calc(l + 20) c h) 0%,
            lch(from var(--ui-component-button-color-dark) calc(l + 10) c h) 15%,
            var(--ui-component-button-color-dark) 80%,
            lch(from var(--ui-component-button-color-dark) calc(l - 10) c h) 100%);
}

.uiComponent .pushable .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: var(--ui-component-button-color);
    padding: 6px 8px 4px;
    color: var(--ui-component-font-color);
    /* font-weight: 600; */
    /* text-transform: uppercase; */
    /* letter-spacing: 1.5px; */
    /* font-size: 1rem; */
    transform: translateY(-4px);
    transition: transform var(--ui-component-button-anim-time-slow) cubic-bezier(0.3, 0.7, 0.4, 1);
}

.uiComponent .pushable:hover {
    filter: brightness(110%);
}

.uiComponent .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform var(--ui-component-button-anim-time-med) cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.uiComponent .pushable:active .front {
    transform: translateY(-2px);
    transition: transform var(--ui-component-button-anim-time-fast);
}

.uiComponent .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform var(--ui-component-button-anim-time-med) cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.uiComponent .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform var(--ui-component-button-anim-time-fast);
}

.uiComponent .pushable:focus:not(:focus-visible) {
    outline: none;
}

/*
Example HTML 
<button class="pushable">
  <span class="shadow"></span>
  <span class="edge"></span>
  <span class="front"> Push Me </span>
</button>
*/