/* Coloris CSS, overrides initial CSS 
 - see: https://github.com/melloware/coloris-npm/blob/main/src/coloris.css
 - original repo (not NPM): https://github.com/mdbassit/Coloris
*/

/* color picker container - see colorpicker.js */
.colorPicker.clr-container {
    /* display: none; */
    width: 100%;
    height: 40px;
    flex-direction: column;
}

/* color picker full */
.colorPicker.clr-field {
    /* display: none; */
    display: flex;
    width: calc(100% - 1px);
    height: auto;
    border-radius: var(--ui-component-border-radius);
    background-color: var(--ui-component-color-bg);
}

/* text field */
.colorPicker.clr-field input,
.colorPicker.clr-field input[type='text'] {
    /* display: none; */
    background-color: transparent;
    width: 100%;
    z-index: 3;
    /* height: 100%;
    border: 0;
    padding: 0; */
}

/* color preview button (base) */
.colorPicker.clr-field button {
    min-width: 30px;
    width: 69%;
    max-width: calc(100% - 69px);
    right: -1px;
    height: calc(100% - 0px);
    border-radius: 1px 6.9px 6.9px 0px;
    overflow: hidden;
    top: initial;
    transform: none;
    background-image: none;
    background-color: transparent;
    z-index: 2;
}

/* color preview button (color overlay) */
.colorPicker.clr-field button:after {
    /* display: none; */
    border: 0;
    /* color: transparent; */
    /* color: currentColor; */
    color: rgb(from currentColor r g b / 0);
    background-image: linear-gradient(90deg,
            rgb(from currentColor r g b / 0) 0%,
            rgb(from currentColor r g b / 0.213) 6.9%,
            rgb(from currentColor r g b / 0.420) 12%,
            rgb(from currentColor r g b / 0.69) 16.9%,
            rgb(from currentColor r g b / 0.8) 21.3%,
            rgb(from currentColor r g b / 0.9) 25%,
            rgb(from currentColor r g b / 1) 32%);
    box-shadow: none;
}

/* coloris popup */
/* coloris popup inputs */
.clr-picker label,
input[type].clr-color {
    font-family: 'Inclusive Sans', 'Helvetica Neue', Helvetica, sans-serif;
}
input[type].clr-color {
    text-indent: 0;
    background-color: #fdfdfd;
}
input[type="text"].clr-color:hover,
input[type="text"].clr-color:focus-visible {
    background-color: #fff;
}