header,
footer {
    position: absolute;
    z-index: 99;
    width: 100vw;
    display: flex;
    align-items: center;
}

header {
    height: var(--ui-header-height);
    background-color: red;
}

footer {
    height: var(--ui-footer-height);
    background-color: purple;
    top: calc(100vh - var(--ui-footer-height));
}