.overlayBG {
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--color-ui-ultradark);
    z-index: 999;
}

.overlayBox {
    border-radius: 12px;
    box-shadow: 0px 6px 9px -2.13px var(--ui-data-window-bg-shadow);

    min-width: 250px;
    min-height: 100px;
    max-width: 80%;
    max-height: 80%;
    width: fit-content;
    height: fit-content;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    background-color: var(--color-ui-verylight);
    background: linear-gradient(var(--color-ui-ultralight) 0%, var(--color-ui-light) 100%);
    transform-origin: center center;
    transform: translate(-50%, -50%);
}

.overlayBox .overlayBody {
    color: var(--ui-overlay-color-text);
    margin: var(--ui-overlay-margin-titlegap) var(--ui-overlay-margin-horizontal) var(--ui-overlay-margin-vertical) var(--ui-overlay-margin-horizontal);
}
.overlayBox .overlayTitle {
    font-size: large;
    font-weight: bold;
    color: var(--ui-overlay-color-title);
    margin: var(--ui-overlay-margin-vertical) var(--ui-overlay-margin-horizontal) var(--ui-overlay-margin-titlegap);
}

.overlayBG[show="false"],
.overlayBox[show="false"] {
    opacity: 0;
    transition: opacity 250ms ease-out;
}

.overlayBox[show="true"] {
    opacity: 1;
    transition: opacity 125ms ease-out;
}
.overlayBG[show="true"] {
    cursor: default;
    opacity: 0.69;
    transition: opacity 369ms cubic-bezier(0.16, 1, 0.3, 1);
}